$base-dark: #1f2328 !default;
$base-white: #fff !default;
$base-grey: #7d8d9e !default;
$base-light-grey: #eceef0 !default;
$base-blue: #068eef !default;
$base-green: #37ba32 !default;
$base-red: #f43c36 !default;

$color-text: $base-dark !default;
$color-bg: $base-light-grey !default;

$font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, sans-serif !default;