.todo-list {
  border-radius: 8px;
  box-shadow: 0 0 6px rgb(0 0 0 / 15%);
  background: $base-white none;
  overflow: hidden;

  &:not(:last-child) {
    margin-bottom: 16px;
  }

  &--loading {
    .todo-list__head,
    .todo-list__body {
      display: none;
    }

    .todo-list__placeholder {
      display: block;
    }
  }

  &--empty {
    .todo-list__body {
      display: none;
    }

    .todo-list__empty-body {
      display: block;
    }
  }
}

.todo-list__row {
  display: grid;
  grid-template-columns: 40px 1fr 100px;
  border-bottom: 1px solid whitesmoke;

  &--header {
    color: $base-grey;
    border-bottom-color: #eaeaea;
    font-weight: 600;
  }
}

.todo-list__cell {
  padding: 8px 4px;

  &:first-child {
    padding-left: 12px;
  }

  &:last-child {
    padding-right: 12px;
  }

  &--header {
    font-weight: bold;
  }
}

.todo-list__placeholder {
  padding: 20px;
  display: none;
}

.todo-list__empty-body {
  padding: 20px;
  display: none;
}